.hire-us-banner{
  height: 380px;
  width: 100%;
  padding-top: 66px;
  background-color: $mainColor;
  background-image: url(../img/hire-us-banner-m.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  display:none;

  @mixin atSmall{
    padding-top: 80px;
    display: block;
  }

  @mixin atLarge{
    background-image: url(../img/hire-us-banner.jpg);
  }

  &__title{
    text-transform: uppercase;
    font-size: 1.4375rem;
    margin-bottom: 35px;
    @mixin atSmall{
      font-size: 1.75rem;
    }
  }

  &__text{
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.82);
    @mixin atSmall{
      font-size: 1rem;
    }
  }

  &__buttons{
    margin-top: 44px;
  }
}
