.last-projects-section{

   background-color: #fff;
   position: relative;
   z-index: 10;
   padding-top: 0;


   img{
     display: block;
     width: 100%;
   }

   &__nav{
     text-align: center;
     margin-top: 90px;
     ul{
       li{
         list-style: none;
         display: inline-block;
         text-transform: uppercase;
         cursor: pointer;
         padding: 12px 20px;
         font-weight: 600;
         font-size: 0.875rem;
         transition: all 0.3s;
         letter-spacing: 0.03em;

         &:hover{
           background-color: $mainColor;
           color: #fff;
         }
       }
     }
   }

   &__menu--active{
     background-color: $mainColor;
     color: #fff;
   }

   &__container{
     padding-top: 50px;
     display: none;

     @mixin atSmall{
       padding-bottom: 50px;
       min-height: 672px;
     }

     &--active{
       display: block;
       animation: slide-down 0.7s ease-out;
     }
   }

   &__project{
     position: relative;
     margin-bottom: 10px;
     @mixin atSmall{
       margin-bottom: 20px;
     }
   }

   &__content{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     transition: background-color 0.6s;
     background-color: rgba(0, 0, 0, 0.3);

     @mixin atSmall{
       background-color: rgba(0, 0, 0, 0.1);
     }


     &--opacity{
       opacity: 1;
       transition: all 0.6s ease-in-out;
       position: absolute;
       bottom: 15px;
       left: 5px;
       margin-left: 10px;
       @mixin atSmall{
         opacity: 0;
         margin-left: 0;
       }
     }

     &__title{
       bottom: 25px;
       color: #fff;
       text-transform: uppercase;
       font-size: 1.375rem;
       margin-bottom: 15px;
     }

     &__subtitle{
       color: #fff;
       text-transform: uppercase;
       font-size:  0.625rem;
       color: #c6c6c6;
       font-family: 'Roboto', sans-serif;
       p{
         color: #c6c6c6;
       }
     }

     &:hover{
       background-color: rgba(0, 0, 0, 0.7);
     }

     &:hover .last-projects-section__content--opacity{
       opacity: 1;
       margin-left: 25px;
     }
   }

}

@keyframes slide-down {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
