.page-header{

   background-image: url(../img/comp2-mobile.jpg);
   background-color: $mainBlack;
   padding-top: 170px;
   padding-bottom: 30px;
   text-align: center;
   background-position: left center;

   &--padding{
     padding-left: 15px;
     padding-right: 15px;
   }

   @mixin atSmall{
     padding-top: 120px;
     padding-bottom: 50px;
     &--padding{
       width: 70%;
       margin: 0 auto;
     }
   }

   @mixin atMedium{
     padding-top: 160px;
     padding-bottom: 110px;
     background-image: url(../img/comp2.jpg);
     background-position: center center;
   }

   @mixin atXLarge{
     padding-top: 200px;
     padding-bottom: 110px;
   }

  /* &--less-padding{
     padding-top: 140px;
     padding-bottom: 25px;
   }*/

   &--single{
     padding-top: 120px;
     padding-bottom: 40px;
     @mixin atMedium{
       padding-top: 200px;
       padding-bottom: 150px;
     }
   }

   &--info-pages{
     padding-top: 141px;
     padding-bottom: 36px;
     @mixin atMedium{
       padding-top: 190px;
       padding-bottom: 100px;
     }

   }

   &__title{
     text-transform: uppercase;
      color: #fff;
      font-weight: 600;
      font-size: 1.5625rem;
      margin-bottom: 20px;
      letter-spacing: 1.5px;

      @mixin atSmall{
        font-size: 1.8125rem;
      }

      @mixin atMedium{
        font-size: 2.625rem;
        letter-spacing: 2px;
        margin-bottom: 30px;

      }

      @mixin atXLarge{
        font-size: 3.1875rem;
        &--smaller{
          font-size: 2.5rem;
        }
      }

      &--small-font{
        font-size: 0.875rem;

        @mixin atSmall{
          font-size: 1.5rem;
          width: 80%;
          margin: 0 auto;
        }
        p{
          color: #fff;
        }
      }


   }

   &__text{
     color: #d6d6d6;
    font-size: 0.875rem;
    font-weight: 300;

    p{
       color: #d6d6d6;
    }


      @mixin atMedium{
        font-size: 1rem;
      }

      @mixin atXLarge{
        font-size: 1.25rem;
      }
   }
}
