.primary-nav{

	display: none;
	position: fixed;
  height: 100%;
  width: 100%;
  margin-left: -20px;
	margin-top: -15px;
  background-color: rgba(34, 34, 34, 0.95);

	ul{

		list-style: none;
		margin-top: 100px;
		text-align: center;
	}

	li{

		line-height: 2em;
	}

	a{

		text-decoration: none;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		font-weight: 300;
		transition: all 0.3s;

		  &:hover{
				color: $mainColor;
			}
	}

	.current-menu-item a{
		color: $lightGray;
	}

	@mixin atMedium {

		  display: inline-block;
			float: right;
			padding-top: 7px;
		  margin-left: 30px;
			position: relative;
			margin-top: 0;
			background-color: transparent;
			height: auto;
			width: auto;

      ul{

      	margin-top: 0;
      	background-color: transparent;
				padding-top: 10px;
      }

      li{

      	display: inline-block;
				line-height: 1.5em;

				a {
					padding: 25px 10px;
					font-size: 0.75rem;
					font-weight: 400;
					@mixin atXLarge{
						font-size: 0.875rem;
					}
				}
	  	}

    }


}

.mobile-kontakt-link a{
		border: 1px solid #fff;
    padding: 5px 10px !important;
    border-radius: 4px;

		@mixin atMedium{
	    margin-left: 15px;
	    font-size: 13px;
			border-radius: 1px;
		}
}

.search .current_page_parent a,
.category .current_page_parent a,
.single-post .current_page_parent a{
	color: $mainLink;
}

/* fix mobile nav */
.scroll .primary-nav.open{
	margin-top: 0;
}
