.price-page{

  padding-bottom: 60px;
  background-color: #f7f7f7;
  padding-top: 10px;

  @mixin atMedium{
    padding-top: 0;
  }

  &__title{
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;

    @mixin atMedium{
      font-size: 1.125rem;
    }

    &--bigger{
      font-size: 1.25rem;
      margin-bottom: 25px;
      @mixin atSmall{
        font-size: 1.5rem;
      }
    }
  }

  &__tabel{
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    z-index: 100;


    &__container{
      background-color: #fff;
      position: relative;
      margin-bottom: 20px;
      border-top: 5px solid #ddd;
      margin-top: 0;
      padding-bottom: 30px;

      @mixin atSmall{
        min-height: 300px;
      }

      @mixin atMedium{
        margin-top: 15px;
      }

      &--border-blue{
        border-top: 5px solid $secondColor;
        margin-top: 0;
      }

    }

    &__top{
      padding: 40px 20px 100px;
      background-color: #efebeb;
      @mixin atLarge{
        padding: 40px 20px 120px;
      }
    }

    &__circle{
      border: 8px solid;
      display: inline-block;
      padding: 50px 22px;
      border-radius: 100%;
      color: #fff;
      margin-top: -80px;
      background-color: $mainColor;

      &--blue{
        background-color: $secondColor;
      }
    }

    &__title{
      margin: 0;
      text-transform: uppercase;
      color: #333;
      font-weight: 600;
      font-size: 1.375rem;
      margin: 0;
    }

    &__subtitle{
      margin: 0;
      font-size: 1.5rem;
    }

    &__text{

      padding-bottom: 20px;
      font-family: 'Roboto', sans-serif;
      padding: 15px;

      @mixin atSmall{
        min-height: 140px;
      }
    }

  }

  &--display-mobile-none{
    display: none;
    @mixin atSmall{
      display: table-cell;
    }
  }

  &__tabel2{

    padding-bottom: 40px;

    &__container{
      padding-top: 20px;
    }

    &__text{
      letter-spacing: 0.75px;
      line-height: 130%;
      font-size: 0.875rem;
      @mixin atSmall{
        font-size: 1rem;
      }
    }

    table{
      background-color: #fff;
      width: 100%;
      border-left: 1px solid rgba(221, 221, 221, 0.47);
      border-top: 1px solid rgba(221, 221, 221, 0.47);
      border-spacing: 0;

      tr{
        border: 1px solid #ddd;

        td:first-child{
          font-weight: bold;
        }

      }

      td{
        padding: 14px;
        border-bottom: 1px solid rgba(221, 221, 221, 0.47);
        border-right: 1px solid rgba(221, 221, 221, 0.47);
        text-align: center;
        font-size: 0.9375rem;
        @mixin atSmall{
          text-align: left;
          font-size: 1rem;
        }
        @mixin atMedium{
          padding: 22px;
        }

      }
    }
  }

  &__comparison-table{

      display: none;
      padding-top: 40px;
      padding-bottom: 50px;

      @mixin atSmall{
        display: block;
      }

      &__text{
        padding-bottom: 60px;
        letter-spacing: 0.75px;
        line-height: 130%;
      }

      &__name{
        padding: 15px 40px 0px 0px;
        text-align: right;
        font-weight: bold;
      }

      &__compare{
        text-align: center;
        border: 1px solid #ddd;
        padding: 15px 0;
        background-color: #fff;

        &--back{
          background-color: $mainColor;
          color: #fff;
        }
      }
  }

  &__tab-open{
    padding: 15px 25px;
    background-color: #e8e7e7;
    margin-top:10px;
    cursor: pointer;
    transition: background-color 0.4s;
    border-radius: 1px;
    outline: none;

    &:hover{
      background-color: #ddd;
    }

    i{
      float: right;
      font-size: 1.125rem;
      @mixin atMedium{
        font-size: 1.375rem;
      }
    }
  }

  &__dropdown-tab{
    display: none;
  }



}
