.service-single{

  padding: 0 0 80px;
  background-color: #f7f7f7;

  .wrapper{
    position: relative;
    z-index: 10;
  }

  &__main-content{

    @mixin atMedium{
      padding-right: 50px;
    }

    img{
      margin: 20px 0;
    }
  }

  &__title{
    margin-top: 0;
    font-size: 2em;
  }

  h3{
    font-size: 1.25rem;
    @mixin atSmall{
      font-size: 1.375rem;
    }

  }

  &__text{
    padding-top: 5px;
    @mixin atMedium{
      padding-top: 0;
    }
    p{
      letter-spacing: 0.75px;
      line-height: 130%;
      font-size: 0.875rem;
      @mixin atSmall{
        font-size: 1rem;
      }
    }
  }




}
