$mainLink: #ff6863;
$lightGray: #f5f5f5;
$mainColor:  #ff6863; /*#1eabc4; /*#ff6863*/ /*#1a91a1*/
$secondColor: #38afaf;
$mainHover: #cc4541;
$mainBlack: #1a1a1a;
$ligherGray: #cacaca;
$lightGray: #ababab;
$grayText: #616161;
$grayFooterText: #4e4e4e;
